@font-face {
    font-family: 'Lato Light';
    src: url('/static/fonts/Lato-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Hind Vadodara Regular';
    src: url('/static/fonts/Hind-Vadodara-Regular.ttf') format('truetype');
  }

*{
    box-sizing:border-box;
    font-family: 'Lato Light', 'Roboto', sans-serif;
}

html, body{
    width: 100%;
    color: black;
}

body{
    margin: 0;
    background-color: #97978D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px 5px;
    flex-direction: column;
}

.header2{
    width: auto;
}

header img {
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.divFoto{
    width: 25%;
}

.divFoto2{
    width: 15%;
}

#titulo1 {
    flex-grow: 1; /* Permite que el título ocupe todo el espacio disponible */
    text-align: center;
    font-size: 2em;
    display: block;
    text-align: center;
    font-family: 'Hind Vadodara Regular', 'Roboto', sans-serif;
    margin: 0 auto;
}

.list{
    display: flex;
    justify-content: flex-end;
    width: 60%
}

.list2{
    width: 15%;
}

.otroHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul li{
    list-style: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav ul a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}
  
nav ul a:hover {
    background-color: #333;
    color: #fff;
}

li img {
    width: 50px;
}

.tex{
    font-size: x-large;
}

.texlar{
    font-size: xx-large;
    text-align: center;
}

.mainindex{
    width: 65%;
    text-align: start;
}

main{
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

form {
    text-align: center;
    border: 2px solid #afafaf;
    border-radius: 20px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 2px 6px 16px;
}

fieldset {
    margin-bottom: 0px;
    border: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

form select{
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: large;
}

form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #f8f8f8;
    text-align: center;
    font-size: large;
}

.archivo{
    display: block;
    text-align: center;
    margin: 5px auto;
    background: #00bcd4(252, 227, 84);
}

form label{
    display: block;
    margin: 10px auto;
}

.input-container {
    position: relative;
}

.input-container::after {
    content: '%';
    position: absolute;
    top: 50%;
    right: 80px; /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
}

.sm{
    font-size: small;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;    
    background: #f9f5f5;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: 1s all;
    cursor:pointer;
    margin: 10px auto;
    color: black;
}

.enviar:hover{
    color:rgb(0, 0, 0);
    border: 2px solid #000000;
    background-color: rgb(175 175 175 / 80%);
    transform: scale(1.2);
}

.enviar:active{
    background-color: #f9f5f5;
    transition: 0s;
    border: 2px solid #ffffff;
}

.oculto{
    background-color: lightgray;
}

.oculto:hover{
    transform: scale(1.0);
    cursor: not-allowed;
    background-color:gray;
}

.oculto:active{
    background-color: rgba(212, 25, 0, 0.5);
    transition: 0s;
    border: 2px solid #ff0000;
}

main{
    margin-bottom: 20px;
    text-align: center
}

#divCargando{
    display: none;
    text-align: center;
}

#divCargando h2{
    margin-bottom: 5px;
    margin-top: 20px;
}

#divCargando img {
    display: block;
    margin: 0 auto;
}

#graveError{
    display: none;
    text-align: center;
}

#graveError img{
    width: 150px;
}

.botoncito{
    font-weight: bold;
    background: linear-gradient(45deg, #004fff, #72f272, #00ab94);
    border-radius: 20px;
    margin: 10px auto;
    font-size: larger;
    padding: 5px 10px;
}

.vacio::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

#fin{
    display: none;
    text-align: center;
}

#fin img{
    width: 200px;
}

footer{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    text-align: center;
    color: #97978D;
    padding: 10px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}

.fotoFoot{
    width: 50%;
    max-width: 350px;
}

.fotoFoot2{
    width: 100%;
}


.palfoo{
    text-align: end;
    width: 50%;
    display: flex;
    text-align: end;
    justify-content: center;
}

.palfoo2{
    text-align: start;
}

.palfoo h3{
    margin: 5px 0px;    
}

.palfoo p{
    margin: 5px 0px;
}

ul{
    margin: 5px auto;
}

footer ul{
    list-style: none;
}

@media (max-width: 1000px) {
    .main2{
        width: 75%;
    }
}

@media (max-width: 350px) {
    form{
        padding: 0 0;
    }

    html {
        height: auto;
    }

    body {
        height: auto;
    }
}

@media (min-width: 300px) and (min-height: 1030px) {
  html, body {
    height: 100vh;
  }
}
@media (max-width: 650px) {
    header{
        padding: 0px 5px;
    }
}

@media (max-width: 610px) {

    main {
        width: auto;
    }

    .palfoo{
        margin: 5px auto;
    }


}

@media (max-width: 530px) {
    header{
        margin: 0 auto;
    }
    
    h1{
        font-size: x-large;
    }
    
    form{
        font-size: medium;
    }
    main h2{
        font-size: large;
    }
    #titulo1{
        font-size: 1.5em;
    }
}
@media (max-width: 450px) {

    .fotoFoot{
        display: none;
    }
    .palfoo{
        width: 90%;
        justify-content: center;
    }

}

@media (max-width: 300px) {
    footer img{
        width: 200px;
    }

    #titulo1{
        font-size: small;
    }

    body{
        font-size: smaller;
    }

    main{
        font-size: smaller;
    }

    form{
        font-size: small;
    }
    
    .archivo {
        font-size: smaller;
    }

    .tex {
        font-size: small;
    }

    .texlar {
        font-size: medium;
    }

}

@media (max-width: 200px) {
    footer img{
        display: none;
    }

}

@media (max-width: 192px) {
    footer{
        font-size: smaller;
    }
}
