<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" type="image/png" href="../static/images/TS.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-Ky4mXhUd7QlLeLsCYykJbI8CVyIirclZxI2t4g+hTCYI+4lOJ0ANRvE1u1eJXN+L" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto:ital,wght@0,100;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='cssFA/fontawesome.min.css')}}">
    <title>Tech Solution</title>
</head>
<body>
  <header>
    <img id='fotoheader' src="{{url_for('static', filename='images/faviconblanco.png')}}" alt="">
    <h1 id="titulo1">¡Bienvenidos a TechSolution!</h1>
  </header>

  <main class="mainindex">

    <p class='tex'>  
      En <strong>TechSolution</strong>, estamos dedicados a brindar soluciones de <strong>automatización digital</strong> para empresas locales, especialmente pequeñas pymes y emprendimientos. Nuestro equipo está listo para ayudar a su empresa a crecer y mejorar su actividad cotidiana a través del uso estratégico de <strong>tecnologías avanzadas.</strong>
    </p>

    <p class='tex'>
      En un mundo cada vez más digitalizado, reconocemos la importancia de <strong>optimizar</strong> y <strong>agilizar</strong> los procesos empresariales. Con nuestra experiencia en desarrollo de software y conocimiento profundo de las últimas tendencias tecnológicas, ofrecemos soluciones personalizadas y escalables que se adaptan a las necesidades únicas de su empresa.
    </p> 
 
    <p class='tex'>
      ¿Qué podemos hacer por usted? Automatizamos tareas repetitivas y laboriosas, liberando su tiempo y recursos para que pueda concentrarse en lo más importante: <strong>hacer crecer su negocio</strong>. Nuestros servicios abarcan desde la implementación de sistemas de gestión eficientes hasta la integración de herramientas de colaboración y comunicación en línea. Además, ofrecemos asesoramiento experto en la elección de las mejores soluciones tecnológicas para su empresa.
    </p>  
        
    <p class='tex'>
      En <strong>TechSolution</strong>, nos enorgullece ser su socio confiable en el camino hacia la transformación digital. Nuestro compromiso con la <strong>excelencia</strong> y la <strong>satisfacción del cliente</strong> nos impulsa a superar sus expectativas y garantizar el éxito de su empresa en el panorama empresarial en constante evolución.
    </p>
        
    <p class='tex'>
      No espere más para llevar su negocio al siguiente nivel. Contáctenos hoy mismo y descubra cómo <strong>TechSolution</strong> puede ayudarlo a <strong>optimizar sus procesos</strong>, <strong>aumentar su productividad</strong> y alcanzar el <strong>crecimiento sostenible</strong> que su empresa se merece.
    </p>  

    <p class='texlar'>
      <strong>¡Confíe en TechSolution para convertir sus desafíos en oportunidades!</strong>
    </p>
 
  </main>


<footer>
  <div>
    <img src="{{url_for('static', filename='images/logo-no-background.svg')}}" alt="">
  </div>
  <div class="palfoo">
    <h3>¡Agradecemos tu visita!</h3>
    <p>Contactanos en: <ul><!--<li><i class="fa-regular fa-envelope"></i> techsolution@gmail.com</li> --><li><i class="fa-brands fa-whatsapp"></i> 11 3177-1201</li></ul>
    <p>Equipo TechSolution: <ul><li>Jorge Tricarico</li><li>Leandro Deferrari</li><li>Martín Miselli</li></ul></p>
    <p>Ventas: <ul><li>Johanna Tricarico</li></ul></p>
  </div>
  <a href="./conocenos" class="iconFoot iconFoot1">
    <img src="{{url_for('static', filename='images/home--.png')}}" alt="">
    <span class="iconText">Conocénos</span>
  </a>
  <a href="./" class="iconFoot">
    <img src="{{url_for('static', filename='images/catalogo--.png')}}" alt="">
    <span class="iconText iconText2">Catálogo</span>
  </a>

</footer>
 
<script src="https://kit.fontawesome.com/57ae43236c.js" crossorigin="anonymous"></script>
</body>
</html>
